/* Regole generali */
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 20px;
}

.button{
    background-color: rgba(0,97,255,255);
    padding: 5px 20px;
    color: white;
    text-decoration: none;
}

.button:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.bar{
    border-bottom: 1px solid rgba(223,223,225,255);
    width: 15%;
    margin-bottom: 50px;
}

/* Header */
header{
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 99999;
}

.logo_box, .nav_container{
    vertical-align: middle;
    line-height: 50px;
}

.container_header .logo_box{
    height: 50px;
    width: 10%;
    float: left;
    padding-top: 5px;
    padding-left: 10px;
}

.logo_box .dropbox_logo{
    max-width: 100%;
}

.container_header .nav_container{
    float: left;
    width: 90%;
}

.nav_container li{
    display: inline-block;
    padding: 0 2%;
}

.nav_container li a{
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 10%;
    text-align: left;
    border-radius: 10px;
}
  
#prova-drop:hover .dropdown-content {
    display: block;
}

#hbutton{
    color: white;
}

header .header_a:hover{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    text-decoration: none;
}

.nav_container .nav_actions_left{
    float: left;
    width: 50%;
}

.nav_container .nav_actions_right{
    float: right;
    width: 50%;
    text-align: right;
    padding-right: 10px;
}

/* Jumbotron */
.jumbo_bg{
    background-color: rgba(180,208,231,255);
    width: 100%;
    height: 800px;
    margin-bottom: 200px;
    padding-top: 50px;
}

.jumbo_bg .jumbo_container{
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.row_jumbo h1{
    text-align: left;
    font-size: 85px;
    font-weight: 600;
}

.jumbo_container .left_jumbo{
    float: left;
    width: 30%;
    padding-right: 120px;
}

.left_jumbo p{
    margin: 30px 0;
}

.left_jumbo p i{
    font-size: 40px;
}

.jumbo_container .right_jumbo{
    float: right;
    width: 60%;
}

.right_jumbo img{
    max-width: 100%;
    margin-top: 30px;
}

.left_jumbo .icon_button{
    color: black;
}

/* Main */

/* Sub part */
main .main_container_sub{
    width: 70%;
    margin: auto;
}

main .main_container_sub::after{
    content: "";
    clear: both;
    display: table;
}

.main_high_row input{
    margin: 50px 0;
}

.main_container_sub .main_col{
    border: 1px solid gray;
    width: 30%;
    float: left;
    margin-bottom: 50px;
}

.main_container_sub .main_central_col{
    margin: 0 5%;
}

/* Columns content */
.main_col .p_title{
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.main_col .sub_box{
    padding-left: 30px;
    min-height: 1200px;
}

.sub_box h3{
    margin: 30px 0 15px;
}

.sub_box h4{
    margin-bottom: 10px;
}

.sub_box #wgray{
    color: gray;
    margin-bottom: 40px;
    display: inline-block;
}

.sub_box p{
    margin: 30px 0;
}

.sub_box .dbutton{
    margin-left: 40px;
    margin-top: 80px;
}

.sub_box .button{
    padding: 10px 40px;
}

.sub_box .fa-check{
    color: blue;
}

.main_container_sub .main_bottom_row{
    width: 100%;
    border: 1px solid gray;
    float: left;
    margin-bottom: 150px;
}

.main_container_sub .main_bottom_row::after{
    content: "";
    clear: both;
    display: table;
}

.main_bottom_row .p_title{
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.main_bottom_row .sub_bottom_box{
    width: 70%;
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main_bottom_row .bottom_row_button:after{
    content: "";
    clear: both;
    display: table;
}

.bottom_row_button .button{
    width: 25%;
    float: right;
    text-align: center;
    margin-top: 20px;
    margin-right: 30px;
}

.sub_bottom_box h3, .sub_bottom_box h4{
    margin-bottom: 15px;
}

/* Partner */
.main_container_sub .partner{
    float: left;
    margin-bottom: 100px;
}

.main_container_sub .partner_photo{
    width: 60%;
}

.partner_photo img{
    max-width: 100%;
}

.main_container_sub .partner_text{
    width: 40%;
    padding-left: 50px;
    padding-top: 40px;
}

.partner_text p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.partner_text .button{
    color: black;
    background-color: white;
    border: 2px solid gray;
}

/* Do more part */
main .main_container_dmore{
    width: 70%;
    margin: auto;
    margin-bottom: 150px;
}

main .main_container_dmore::after{
    content: "";
    clear: both;
    display: table;
}

.main_container_dmore .main_high_row{
    margin-bottom: 50px;
}

.main_container_dmore .small_box{
    width: 32%;
    float: left;
    padding-right: 50px
}

.main_container_dmore .sbox_middle{
    margin: 0 2%;
}

.small_box img{
    max-width: 100%;
}

.small_box p{
    padding: 20px 60px 80px 0;
}

/* Carousel */

/* Title */
main .main_container_carousel_title{
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

.main_container_carousel_title h2{
    width: 60%;
    margin-bottom: 30px;
}

/* Content */
main .main_container_carousel_content{
    width: 100%;
    margin: auto;
    background-color: rgba(180,208,231,255);
    margin-bottom: 100px;
}

main .main_container_carousel_content::after{
    content: "";
    clear: both;
    display: table;
}

/* Left and right content */
.car_left_box, .car_right_box{
    width: 30%;
    float: left;
}

.car_left_box:after{
    content: "";
    clear: both;
    display: table;
}

.car_right_box:after{
    content: "";
    clear: both;
    display: table;
}

/* Colored box */
.color_box{
    width: 50%;
    float: left;
    height: 285px;
    position: relative;
}

/* Img box */
.color_box img{
    max-width: 50%;
    filter: invert(99%) sepia(0%) saturate(7500%) hue-rotate(209deg) brightness(102%) contrast(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.car_left_box .b_one{
    background-color: rgba(162,211,155,255);
    border: 10px solid rgba(208,233,205,255);
}

.car_left_box .b_two{
    background-color: rgba(97,8,43,255);
}

.car_left_box .b_three{
    background-color: rgba(0,147,206,255);
}

.car_left_box .b_four{
    background-color: rgba(255,28,28,255);
}

.car_right_box .b_one{
    background-color: rgba(213,0,31,255);
}

.car_right_box .b_two{
    background-color: rgba(180,208,231,255);
}

.car_right_box .b_three{
    background-color: rgba(13,36,129,255);
}

.car_right_box .b_four{
    background-color: rgba(255,216,48,255);
}

/* Middle content */
.main_container_carousel_content .car_middle_box{
    width: 40%;
    float: left;
    height: 570px;
    background-color: rgba(245,245,245,255);
    padding: 50px 60px 0 40px;
    overflow: scroll;
}

.car_middle_box picture img{
    width: 30%;
    margin-bottom: 50px;
}

.car_middle_box p{
    margin-bottom: 50px;
}

/* Bottom content */
.main_container_carousel_content .car_bottom_row::after{
    content: "";
    clear: both;
    display: table;
}
.car_bottom_row h2{
    width: 50%;
    float: left;
    padding: 100px 0 100px 250px;
}

.car_bottom_row div::after{
    content: "";
    clear: both;
    display: table;
}

.car_bottom_row a{
    width: 15%;
    float: left;
    text-align: center;
    margin: 120px 0 0 250px;
    background-color: white;
    color: black;
}

/* FAQ */
main .main_container_faq{
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
}

.main_container_faq h2{
    margin-bottom: 50px;
}

/* Questions list */
.main_container_faq ul{
    list-style-type: none;
}

.faqs li{
    padding: 30px 0;
    border-top: 1px solid rgba(223,223,225,255);
}

.main_container_faq ul li h4::after{
    content: "";
    clear: both;
    display: table;
}

.faqs span{
    float: right;
    padding-right: 30px;
}

.faqs li:last-child{
    border-bottom: 1px solid rgba(223,223,225,255);
}

/* Footer */
footer{
    background-color: black;
}

footer .footer_container{
    width: 85%;
    margin: auto;
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
}

footer .footer_container::after{
    content: "";
    clear: both;
    display: table;
}

.footer_container .footer_col{
    width: 20%;
    float: left;
}

.footer_col h3{
    margin-bottom: 20px;
}

.footer_col h5{
    margin-bottom: 10px;
}

.footer_col a{
    color: white;
}

.footer_row .bar{
    border-color: rgba(143,143,143,255);
    width: 10%;
}

.footer_container .footer_row{
    width: 100%;
    float: left;
    margin-top: 100px;
    color: rgba(143,143,143,255);
}