/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Header */
header{
    height: 50px;
    width: 100%;
}

.container_header .logo_box{
    height: 50px;
    width: 10%;
    float: left;
}

.container_header .nav_container{
    float: left;
    width: 90%;
}

.nav_container li{
    display: inline-block;
}

.nav_container .nav_actions_left{
    float: left;
}

.nav_container .nav_actions_right{
    float: right;
}

/* Jumbotron */
.jumbo_bg{
    background-color: rgba(180,208,231,255);
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
}

.jumbo_bg .jumbo_container{
    width: 90%;
    margin: auto;
}

.row_jumbo h1{
    text-align: left;
    font-size: 80px;
}

.jumbo_container .left_jumbo{
    float: left;
    width: 40%;
}

.jumbo_container .right_jumbo{
    float: left;
    width: 60%;
}

.right_jumbo img{
    max-width: 80%;
}

/* Main */

/* Sub part */
main .main_container_sub{
    width: 70%;
    margin: auto;
    /* debug */
    background-color: rgb(109, 109, 211);
}

main .main_container_sub::after{
    content: "";
    clear: both;
    display: table;
}

.main_container_sub .main_col{
    border: 1px solid gray;
    width: 30%;
    float: left;
    margin-bottom: 50px;
    /* debug */
    height: 800px;
    background-color: aqua;
}

.main_container_sub .main_central_col{
    margin: 0 5%;
}

.main_bottom_row{
    width: 100%;
    border: 1px solid gray;
    float: left;
    margin-bottom: 150px;
    /* debug */
    height: 100px;
    background-color: aqua;
}

/* Partner */
.main_container_sub .partner{
    float: left;
    width: 50%;
    margin-bottom: 100px;
}

.partner_photo img{
    max-width: 100%;
}

/* Do more part */
main .main_container_dmore{
    width: 70%;
    margin: auto;
    /* debug */
    height: 1000px;
    background-color: rgb(19, 19, 77);
}